<section class="certifications bg-gray-100 dark:bg-gray-900">
  <div class="cert-content max-w-7xl m-auto py-14 px-5">
    <div class="exp-title flex justify-center text-4xl font-black">
      <h2 class="h2 text-black dark:text-gray-300">Certifi</h2>
      <h2 class="h2 text-gray-600 dark:text-slate-600">cações</h2>
    </div>
    <div class="cert-cards">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let cert of certList" class="slide">
          <certification-card [certList]="cert"></certification-card>
        </div>
      </ngx-slick-carousel>
      <button class="custom-prev" (click)="prev()">
        <icon-chevron-left></icon-chevron-left>
      </button>
      <button class="custom-next" (click)="next()">
        <icon-chevron-right></icon-chevron-right>
      </button>
    </div>
  </div>
</section>

