 <nav [ngClass]="darkModeService.darkModeSignal()" class="border-gray-200 ">
  <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto p-4 lg:px-10">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      @if(darkModeService.darkModeSignal() === 'dark'){
        <img class="h-8 w-8 " ngSrc="/assets/logo-light.png" width="300" height="330" alt="logo-aldo">
      }@else{
        <img class="h-8 w-8 " ngSrc="/assets/logo-dark.png" width="300" height="330" alt="logo-aldo">
      }
        <span class="text-xl font-bold dark:text-gray-300">Aldo Souza</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 z-10" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0   dark:border-gray-700">
        <li>
          <a href="#about" class="block w-full py-2 px-3 text-gray-600 rounded hover:bg-slate-300 md:hover:bg-transparent md:border-0 md:hover:text-gray-900 md:p-0 dark:text-gray-300 dark:hover:text-white">Sobre</a>
        </li>
        <li>
          <a href="#projects" class="block w-full py-2 px-3 text-gray-600 rounded hover:bg-slate-300 md:hover:bg-transparent md:border-0 md:hover:text-gray-900 md:p-0 dark:text-gray-300 dark:hover:text-white">Projetos</a>
        </li>
        <li>
          <a href="#exp" class="block w-full py-2 px-3 text-gray-600 rounded hover:bg-slate-300 md:hover:bg-transparent md:border-0 md:hover:text-gray-900 md:p-0 dark:text-gray-300 dark:hover:text-white">Experiências</a>
        </li>
        <li>
          <a href="#certifications" class="block w-full py-2 px-3 text-gray-600 rounded hover:bg-slate-300 md:hover:bg-transparent md:border-0 md:hover:text-gray-900 md:p-0 dark:text-gray-300 dark:hover:text-white">Certificações</a>
        </li>
        <li>
          @if(darkModeService.darkModeSignal() === 'dark'){
            <span class="block w-full py-2 px-3 text-gray-300 rounded hover:bg-slate-300 md:hover:bg-transparent md:border-0 md:hover:text-gray-900 md:p-0 cursor-pointer" (click)="troggleThemeMode()">
              <icon-sun></icon-sun>
            </span>
          }@else {
            <span class="block w-full py-2 px-3  fill-gray-300 text-gray-600 rounded hover:bg-slate-300 md:hover:bg-transparent md:border-0 md:hover:text-gray-900 md:p-0 cursor-pointer" (click)="troggleThemeMode()">
              <icon-moon></icon-moon>
            </span>
          }
        </li>
      </ul>
    </div>
  </div>
</nav>
