.project{

  padding: 60px 20px;

  .max-width{
    max-width: 1368px;
    margin: auto;
  }

  .project-content{

    padding: 50px 20px;

    .project-cards-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 35px;
    }
  }
}

@media (min-width: 960px){
  .project{

    .project-content{

      padding: 60px 50px;

      h4{
        padding: 0 60px;
      }

      .project-title{
        padding: 0 60px;
      }

    }
  }
}
