<section class="techs">
  <div [ngClass]="theme" class="techs-me-content max-width">
    <div class="techs-title">
      <h2 class="h2">Minhas</h2>
      <h2 class="h2">Techs</h2>
    </div>
    <h4>Techs que uso no dia a dia</h4>
    <div class="techs-grid">
      <div class="grid-item">
        <java></java>
      </div>
      <div class="grid-item">
        <spring></spring>
      </div>
      <div class="grid-item">
        <mysql></mysql>
      </div>
      <div class="grid-item">
        <postgres></postgres>
      </div>
      <div class="grid-item">
        <git></git>
      </div>
      <div class="grid-item">
        <angular></angular>
      </div>
      <div class="grid-item">
        <javascript></javascript>
      </div>
      <div class="grid-item">
        <typescript></typescript>
      </div>
      <div class="grid-item">
        <bootstrap></bootstrap>
      </div>
      <div class="grid-item">
        <tailwind></tailwind>
      </div>
    </div>
  </div>
</section>
