.techs{

  padding: 60px 20px;

  .techs-me-content{

    .techs-grid{
      display: grid;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      row-gap: 30px;
      grid-template-columns: auto auto auto;
    }

    &.light{
      background-color: transparent;
      color: var(--text-navbar-light-color);
    }

    &.dark{
      background-color: var(--bg-secondary-dark);
      color: var(--text-primary-dark-color);
    }

  }
}

@media (min-width: 576px){
  .techs{
    .techs-me-content{
      .techs-grid{
        grid-template-columns: auto auto auto auto;
      }
    }
  }
}

@media (min-width: 768px){
  .techs{
    .techs-me-content{
      .techs-grid{
        grid-template-columns: auto auto auto auto auto;
        column-gap: 70px;
      }

      .techs-title{
        h2{
          font-size: 48px;
        }
      }

      h4{
        font-size: 22px;
      }
    }
  }
}

@media (min-width: 1280px){
  .techs{
    .techs-me-content{
      .techs-grid{
        grid-template-columns: auto auto auto auto auto;
        column-gap: 100px;
      }
    }
  }
}
