<section class="techs">
  <div class="techs-me-content max-w-7xl m-auto" data-aos="zoom-in" data-aos-duration="700">
    <div class="techs-title flex gap-3 justify-center text-4xl font-black">
      <h2 class="h2 text-black dark:text-gray-300">Minhas</h2>
      <h2 class="h2 text-gray-600 dark:text-slate-600">Techs</h2>
    </div>
    <h4 class="text-xl text-center mt-3 mb-8 text-gray-400 dark:text-gray-300">Techs que uso no dia a dia</h4>
    <div class="techs-grid">
      <div class="grid-item">
        <java></java>
      </div>
      <div class="grid-item">
        <spring></spring>
      </div>
      <div class="grid-item">
        <mysql></mysql>
      </div>
      <div class="grid-item">
        <postgres></postgres>
      </div>
      <div class="grid-item">
        <git></git>
      </div>
      <div class="grid-item">
        <angular></angular>
      </div>
      <div class="grid-item">
        <javascript></javascript>
      </div>
      <div class="grid-item">
        <typescript></typescript>
      </div>
      <div class="grid-item">
        <bootstrap></bootstrap>
      </div>
      <div class="grid-item">
        <tailwind></tailwind>
      </div>
    </div>
  </div>
</section>
