<section class="experiences">
  <div [ngClass]="theme" class="exp-me-content max-width">
    <div class="exp-title">
      <h2 class="h2">Experi</h2>
      <h2 class="h2">ências</h2>
    </div>
    <h4>Minha jornada está apenas começando, sempre aprendendo.</h4>
    <div class="exp-cards">
      @for (experience of experiencesLangs; track $index) {
        <experience-card [experiencesLangs]="experience"></experience-card>
      }
      <experience-card [talk]="true"></experience-card>
    </div>
  </div>
</section>
