.experiences{
  .exp-me-content{

    padding: 60px 20px;
  }
}


@media (min-width: 960px){
  .experiences{
    .exp-me-content{
      h4{
        padding: 0 60px;
      }

      .exp-title{
        padding: 0 60px;
      }
    }
  }
}
