<section class="hero-content">
  <div class="hero-banner max-width">
    <div class="hero-description">
      <span>Hello World,</span>
      <h1 class="hero-description--name">Eu sou Aldo</h1>
      <h2 class="hero-description--title">Software Developer</h2>
      <span>Seja bem-vindo ao meu portifólio website.</span>
      <p>Sou desenvolvedor de software com mais de 10 meses de experiência em Java/Spring Boot e Angular. Possuo graduação em Tecnologia de Análise e Desenvolvimento de Sistemas, o que me proporciona habilidades sólidas em desenvolvimento de software, com habilidade FrontEnd e BackEnd.</p>
      <ul class="hero-description--network">
        <li><a href="#">
          <icon-in class="linkedIn"></icon-in>
        </a></li>
        <li><a href="#">
          <icon-git class="git"></icon-git>
        </a></li>
        <li><a href="/assets/curriculo.pdf" target="_blank">
          <btn-primary
            [btnTitle]="'Download CV'"
            [btnStyle]="'btn-right'"
            class="button">
          </btn-primary>
        </a></li>
      </ul>
    </div>
    <div class="hero-image">
      <img src="/assets/image-hero.png" alt="">
    </div>
  </div>
</section>
