<section class="hero-content bg-transparent dark:bg-gray-950">
  <div class="hero-banner max-w-7xl m-auto mt-6 flex flex-col-reverse lg:flex-row xl:my-5 2xl:my-28 p-4 lg:px-10">
    <div class="hero-description w-full lg:w-3/6">
      <span class="block text-xl mt-10 dark:text-gray-300">Hello World,</span>
      <h1 class="hero-description--name text-6xl md:text-7xl font-black dark:text-gray-300">
        Eu sou Aldo
      </h1>
      <h2 class="hero-description--title text-4xl md:text-5xl font-black dark:text-gray-300">
        Software Developer
      </h2>
      <span class="block text-lg my-3 dark:text-gray-300">
        Seja bem-vindo ao meu portifólio website.
      </span>
      <p class="text-lg text-justify dark:text-gray-300">
        Sou desenvolvedor de software com mais de 10 meses de experiência em Java com Spring Boot e Angular. Tenho habilidades sólidas em desenvolvimento de software, com competências em FrontEnd e BackEnd.
      </p>
      <ul class="hero-description--network flex gap-5 mt-10 2xl:mt-20">
        <li>
          <a href="https://www.linkedin.com/in/aldosouza96/" target="_blank">
            <icon-in class="linkedIn" [iconClass]="'w-10 md:w-12 fill-gray-700 dark:fill-gray-300 dark:hover:fill-white'"></icon-in>
          </a>
        </li>
        <li>
          <a href="https://github.com/aldocsouza" target="_blank">
            <icon-git class="git" [iconClass]="'w-10 md:w-12 fill-gray-700 dark:fill-gray-300 dark:hover:fill-white'"></icon-git>
          </a>
        </li>
        <li>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=aldocnsouza@gmail.com&su=Olá,%20Aldo,%20vi%20seu%20portifólio!" target="_blank">
            <icon-email class="git" [iconClass]="'h-12 md:h-14 fill-gray-700 dark:fill-gray-300 dark:hover:fill-white'"></icon-email>
          </a>
        </li>
        <li>
          <a href="/assets/curriculo.pdf" target="_blank">
            <btn-primary
              [btnTitle]="'Download CV'"
              [btnStyle]="'btn-right'"
              class="button">
            </btn-primary>
          </a>
        </li>
      </ul>
    </div>
    <div class="hero-image w-full lg:w-3/6 lg:mt-14">
      <img class="hero-img block mx-auto w-56 md:w-80 lg:w-96 shadow-2xl shadow-gray-800 rounded-full " src="/assets/hero-perfil.jpg" width="420" height="420" priority />
    </div>
  </div>
</section>
