<section class="footer">
  <div class="footer-wrapper max-width">
    <div class="footer--logo">
      <img class="nav-logo" src="/assets/logo-dark.png" alt="logo-aldo">
      <span>Aldo Souza</span>
    </div>

    <ul class="footer-list--navigator">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Sobre</a>
      </li>
      <li>
        <a href="#">Habilidades</a>
      </li>
      <li>
        <a href="#">Experiências</a>
      </li>
      <li>
        <a href="#">Projetos</a>
      </li>
      <li>
        <a href="#">Certificações</a>
      </li>
    </ul>

    <ul class="footer-list--network">
      <li>
        <a href="#">
          <icon-in class="linkedIn" [iconClass]="'footer'"></icon-in>
        </a>
      </li>
      <li>
        <a href="#">
          <icon-git [iconClass]="'footer'"></icon-git>
        </a>
      </li>
    </ul>
  </div>

  <div class="style-creator max-width">
    <span>Feito por Aldo Souza</span>
  </div>
</section>
