/*
.footer{


  a{
    font-family: 'Roboto';
  }

  .footer-wrapper{
    padding: 50px 0px 0px;
    width: 100%;

    gap: 30px;

    .footer--logo{

      .nav-logo{
        width: 20px;
      }

      span{
        font-family: 'Roboto';
        font-weight: bold;
      }
    }

    .footer-list--navigator{
      gap: 40px;

      margin: 0;
      padding: 0;

      list-style: none;

      font-size: 20px;
    }

    .footer-list--network{

      margin: 0;
      padding: 0;

      list-style: none;

    }
  }

  .style-creator{
    border-top: 2px solid #2829387a;
    padding: 20px 0px;
    text-align: center;

    width: 100%;

    span{
      font-size: 24px;
    }
  }


}

@media (min-width: 720px){
  .footer{
    .footer-wrapper{
      .footer-list--navigator{
        display: flex;
      }
    }
  }
}
 */
