.avatar{
  width: 263px;
}

@media (min-width: 768px){
  .avatar{
    width: 350px;
  }
}

@media (min-width: 1024px){
  .avatar{
    width: 430px;
  }
}

@media (min-width: 1124px){
  .avatar{
    width: 580px;
  }
}
