<article [ngClass]="theme" class="card-project shadow-md">
    <div [ngClass]="reverse" class="card-project-wrapper">
      <div class="card-image-content bg-gray-200 dark:bg-gray-700">
        <div class="card-project--image">
          <img [src]="projectList.image" alt="image busness">
        </div>
      </div>
      <div class="card-content bg-gray-50 dark:bg-gray-800">
        <div class="card-project--name">
          <h4 class="text-gray-900 dark:text-white font-black text-2xl">{{ projectList.name }}</h4>
        </div>
        <div class="card-project--description">
          <span class="text-gray-700 dark:text-white text-2xl">{{ projectList.description }}</span>
        </div>
        <div class="card-project--languages">
          @for (language of projectList.languages; track $index) {
            <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">{{ language }}</span>
          }
        </div>
        <div class="card-project--link">
          <a [href]="projectList.linkDeploy" target="_blank">
            <btn-primary
              [btnStyle]="'btn-square'"
              [btnTitle]="'Deploy'"
              >
            </btn-primary>
          </a>
        </div>
      </div>
    </div>
</article>
