.card-project{

  max-width: 1024px;
  border-radius: 10px;

  span{
    font-family: 'Inter';
    font-size: 16px;
  }

  box-shadow: 1px 1px 5px #d5d5d5;

  .card-project-wrapper{

    border-radius: 10px;
    box-shadow: 1px 1px 5px #d5d5d5;

    display: flex;
    flex-direction: column;


    .card-image-content{
      padding: 32px;
      width: 100%;
      border-radius: 10px 0px 0px 10px;
      background-color: #F9FAFB;

      .card-project--image{
        width: 100%;
        box-shadow: 1px 1px 5px #d5d5d5;
        border-radius: 10px;
        border: none;

        img{
          width: 100%;
          border-radius: 10px;
        }
      }

    }

    .card-content{
      width: 100%;
      border-radius: 0px 10px 10px 0px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      padding: 32px;
      background-color: #FFFFFF;

      .card-project--name{
        h4{
          font-weight: 700;
          text-transform: capitalize;
          font-size: 24px;
          color: #111827;
        }
      }

      .card-project--description{
        text-align: justify;
      }

      .card-project--languages{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;

        span{
          padding: 5px 20px;
          background-color: #E5E7EB;
          color: #4B5563;
          border-radius: 50px;

          font-family: 'Inter';
        }

      }

      .card-project--link{
        display: flex;
      }

    }

  }

}

@media (min-width: 960px){
  .card-project{

    span{
      font-size: 16px;
    }

    .card-project-wrapper{

      flex-direction: row;

      &.reverse-column{
        flex-direction: row-reverse;

        .card-image-content{
          border-radius: 0px 10px 10px 0px;
        }

        .card-content{
          width: 50%;
          border-radius: 10px 0px 0px 10px;

          .card-project--name{
            font-size: 18px;
          }
        }
      }

      .card-image-content{
        width: 50%;
        padding: 48px;
      }

      .card-content{
        width: 50%;

        .card-project--name{
          font-size: 18px;
        }
      }
    }
  }
}
