<section class="about-me">
  <div [ngClass]="theme" class="about-me-content max-width">
    <div class="about-title">
      <h2 class="h2">So</h2>
      <h2 class="h2">bre</h2>
    </div>
    <div class="about-wrapper">
      <div class="about-me--avatar">
        <avatar-svg></avatar-svg>
      </div>
      <div class="about-me--description">
        <p>Sou desenvolvedor de software com mais de 10 meses de experiência em Java, Spring Boot e Angular, moro em Belém do Pará, Brasil. Tenho trabalhado em diversos projetos, abrangendo diferentes níveis de complexidade. Possuo graduação em Tecnologia de Análise e Desenvolvimento de Sistemas, o que me proporciona habilidades sólidas em desenvolvimento de software, programação, redes e banco de dados. Sou curioso e motivado, sempre em busca de criar soluções completas e seguras.</p>
        <p>Desde 2022, quando iniciei minha faculdade, venho estudando programação de maneira contínua, complementando meus estudos com diversos cursos extras. Em 2023, obtive minha primeira oportunidade de estágio como desenvolvedor full-stack, utilizando Angular e Java/Spring Boot. Nesta posição, assumi responsabilidades significativas em projetos robustos e desafiadores, onde resolvi problemas e aprimorei meu código de forma autodidata.</p>
        <p class="lastp">Minhas principais habilidades técnicas incluem: Angular, Java, Spring Boot, JavaScript, TypeScript, MySQL, PostgreSQL, Git e GitHub. Tenho paixão por aprender e aplicar novas tecnologias para desenvolver soluções eficientes e inovadoras.</p>
      </div>
    </div>
  </div>
</section>
