<header [ngClass]="darkModeService.darkModeSignal()" class="hero-content bg-white dark:bg-gray-950">
    <navbar></navbar>
</header>
<main [ngClass]="darkModeService.darkModeSignal()" class="hero-content bg-white dark:bg-gray-950">
  <hero-content></hero-content>
  <about-me id="about"></about-me>
  <technologies id="tech"></technologies>
  <projects id="projects"></projects>
  <experiences id="exp"></experiences>
  <certification id="certifications"></certification>
</main>
<footer [ngClass]="darkModeService.darkModeSignal()" class="hero-content bg-white dark:bg-gray-950">
  <footer-component></footer-component>
</footer>
