<article [ngClass]="theme" class="card-experience">
  @if(!talk){
    <div class="card-experience-wrapper">
      <div class="card-busness">
        <img [src]="imageSrc" alt="image busness">
      </div>
      <div class="card-content">
        <div class="card-busness--period">
          <span>{{ periodExp }}</span>
        </div>
        <div class="card-busness--name">
          <h1>{{ busnessName }}</h1>
        </div>
        <div class="card-busness--role">
          <span>{{ role }}</span>
        </div>
        <div class="card-busness--description">
          <span>{{ description }}</span>
        </div>
      </div>
    </div>
  }@else {
    <div class="talk-content">
      <div class="talk-title">
        <span>
          Que tal ser o responsável pela próxima experiência? <br>
          Entre com contato comigo.
        </span>
      </div>
      <ul class="talk-network">
        <li><a href="#">
          <icon-in class="linkedIn"></icon-in>
        </a></li>
        <li><a href="#">
          <icon-git class="git"></icon-git>
        </a></li>
      </ul>
    </div>
  }
</article>
